$bg-sand: #e0e0d8;

@import '_header-02.scss';

* {
  margin: 0;
  padding: 0;
}
html, body {
  font: 16px verdana;
  background: #404040;
  min-height: 100vh;
}


h2 {
  font-family: arial;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

main {
  background: #fff;
  width: 960px;
  height: 100vh;
  margin: auto;
  padding: 1rem;
}

header {
  display: none;
}

.content {
  font-size: .875rem;
  padding: .5rem 0;

  &-block {
    line-height: 1.4;
    padding: .5rem 0;

    &__skills {
      overflow: hidden;
      li {
        background: #ec8;
        //border-left: 2px solid #c86;
        //border-radius: 0 4px 4px 0;
        border-radius: 4px;
        display: inline-block;
        margin: 4px 4px 4px 0;
        padding: 2px 8px;
        cursor: default;
      }
    }
  }
}